!!!
%html
%head
  %title Praveen's Rails Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p Praveen's Rails Forum
      #buttons
        = link_to "New Post", new_post_path

  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    = yield
